{%  extends "::base.html.twig" %}

{% block body %}

    <div class="col-sm-12 content-banner" style="background-image: url('http://fc03.deviantart.net/fs70/i/2013/129/2/5/attack_on_titan_by_brian05710-d64mz19.jpg')">
        <div class="col-sm-12 content-breadcrumb">
            <div class="col-sm-12 col-md-4">
                <!-- BreadCrumb -->
                <ol class="breadcrumb">
                    <li class="primary"><a href="{{ path("loopanime_shows_listAnimes") }}">ANIMES</a></li>
                    <li>{{ anime.title }}</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="clearfix"></div><br><br>

    <div class="col-sm-12 blue">
        <div class="col-md-4 hidden-sm" style="">
            <img src="{{ anime.poster|imagine_filter('animePagePoster') }}" class="lazy"/>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="col-sm-12">
                <div class="col-sm-2 text-center">
                    <i class="fa fa-calendar fa-2x"></i><br>
                    May 20 2014
                </div>
                <div class="col-sm-2 text-center">
                    <i class="fa fa-heart fa-2x"></i><br>
                    {{ anime.ratingUp }}
                </div>
                <div class="col-sm-2 text-center">
                    <i class="fa fa-comment-o fa-2x"></i><br/>
                    3407
                </div>
                <div class="col-sm-2 text-center">
                    <i class="fa fa-clock-o fa-2x"></i><br/>
                    Thursdays
                </div>
            </div>
            <div class="clearfix"></div><br><br>
            <div class="col-md-12 hidden-sm">
                <p class="text-justify">{{ anime.plotSummary }}</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div><br>
    <div class="col-sm-12 carousel-container">
        <div class="">
            <div class="col-sm-12 text-center">
                <h3 class="blue"><i class="fa fa-play-circle"></i> LATEST EPISODES</h3>
            </div>
            <div id="myCarousel" class="carousel slide latest-episode">
                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="row">
                            {% for episode in latestEpisodes %}
                            <div class="col-sm-3">
                                <img src="{{ episode.poster }}" alt="{{ episode.episodeTitle }}" width="250px" height="170px">
                            </div>
                            {% if loop.index % 4 == 0 and not loop.last %}
                                </div>
                            </div><div class="item"><div class="row">
                        {% endif %}
                        {% endfor %}
                    </div></div>

                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>

    <div class="col-sm-12 seasons_container">
        <div class="col-sm-12 col-md-2">
            <h3 class="blue"><i class="fa fa-play-circle"></i> Seasons</h3>
        </div>
        <div class="col-sm-12 col-md-10">
            <div class="col-sm-12 col-md-10 seasons_numbers">
                {% for season in seasons %}
                    <a href="{{ path("loopanime_shows_season",{idSeason: season.id}) }}">{{ season.season }}</a>
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-2">

            </div>
        </div>
    </div>

    {#
    <!-- 1st Content Box -->
    <div class="col-sm-12">

        <!-- BreadCrumb -->
        <ol class="breadcrumb">
            <li><a href="{{ path("loopanime_shows_listAnimes") }}">Animes</a></li>

            {% if(seasonNumber is not defined) %}
                <li class="active">{{ anime.title }}</li>
            {% else %}
                <li><a href="{{ path("loopanime_shows_anime",{idAnime: anime.id}) }}">{{ anime.title }}</a></li>
                <li class="active">S:{{ seasonNumber }}</li>
            {% endif %}
        </ol>
        <!-- End BreadCrumb -->

        <!-- Anime Info -->
        <div class="col-lg-12">

            <div class="col-lg-4">
                <p><img src="{{ anime.poster }}"></p>
            </div>
            <div class="col-lg-8">
                <h3 class="pull-left col-lg-4">{{ anime.title }} {% if (seasonNumber is defined) %}<br>SEASON {{ seasonNumber }} {% endif %}</h3>
                <div class="col-lg-8 pull-right">
                    <p>
                        <!-- ProgressBar -->
                    <div class="progress progress_views">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ anime.ratingUp }}" aria-valuemin="0" aria-valuemax="{{ anime.ratingCount }}" style="width: {% if anime.ratingCount > 0 %}{{ anime.ratingUp * 100 / anime.ratingCount }}{% endif %}%"></div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ anime.ratingDown }}" aria-valuemin="0" aria-valuemax="{{ anime.ratingCount }}" style="width: {% if anime.ratingCount > 0 %}{{ anime.ratingDown * 100 / anime.ratingCount }}{% endif %}%"></div>
                    </div>

                    <!-- Thumbs -->
                    <div class="pull-left"><div class="glyphicon glyphicon-thumbs-up pull-left"></div>&nbsp;<span id="thumbs-up-counter">{{ anime.ratingUp }}</span>&nbsp;&nbsp;</div>
                    <div class="pull-left"><div class="glyphicon glyphicon-thumbs-down pull-left"></div>&nbsp;<span id="thumbs-down-counter">{{ anime.ratingDown }}</span></div>
                    </p>
                </div>
                <div class="clearfix"></div>
                <br>
                <p>{{ anime.plotSummary }}</p>
            </div>

            <!-- Informations -->
            <div class="col-lg-8 pull-left">
            </div>


        </div>

        <!-- Clearfix -->
        <div class="clearfix"></div>
        <hr>


        <!-- List of categories -->
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified nav-categories">
                {% if(seasonNumber is not defined) %}
                    <li class="active"><a href="{{ path("loopanime_shows_listEpisodes") }}?anime={{ anime.id }}" associatedTab="#episodes_section">Episodes</a></li>
                    <li><a href="{{ path("loopanime_shows_listSeasons") }}?anime={{ anime.id }}" associatedTab="#seasons_section">Seasons</a></li>
                {% else %}
                    <li class="active"><a href="{{ path("loopanime_shows_listEpisodes") }}?season={{ seasons.id }}" associatedTab="#episodes_section">Episodes</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- End of List -->

        <div class="clearfix"></div>


        <!-- EPISODES SECTION -->
        <div class="col-lg-12 tab_section" id="episodes_section">
        </div>
        <!-- End EPIDODES -->

        {% if(seasonNumber is not defined) %}
        <!-- SESSIONS SECTION -->
        <div class="col-lg-12 tab_section" id="seasons_section" style="display:none">
        </div>
        <!-- End SESSIONS -->
        {% endif %}

    </div>
    #}
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function(e) {

    function updateDislikesAndLinkes(data) {
        if(data.hasOwnProperty('likes')) {
            $('#thumbs-up-counter').html(data.likes);
            $('#thumbs-down-counter').html(data.dislikes);
        }
    }

    // Like
    $('div.glyphicon-thumbs-up').click(function(e) {
        $.ajax({
            url: '{{ path("loopanime_shows_animeAjax") }}',
            data: {op: 'rating', id_anime: {{ anime.id }}, ratingUp: 1},
            dataType: 'JSON'
        }).done(function(data) {
            if(data.hasOwnProperty('data')) {
                data = data.data;
                updateDislikesAndLinkes(data);
                $('div.glyphicon-thumbs-down').css('color',"");
                $('div.glyphicon-thumbs-up').css('color',"green");
            }
        });
    });

    // Dislike
    $('div.glyphicon-thumbs-down').click(function(e) {
        $.ajax({
            url: '{{ path("loopanime_shows_animeAjax") }}',
            data: {op: 'rating', id_anime: {{ anime.id }}, ratingUp: 0},
            dataType: 'JSON'
        }).done(function(data) {
            if(data.hasOwnProperty('data')) {
                data = data.data;
                updateDislikesAndLinkes(data);
                $('div.glyphicon-thumbs-up').css('color', "");
                $('div.glyphicon-thumbs-down').css('color', "red");
            }
        });
    });

});
</script>
{% endblock %}