{% extends "::base.html.twig" %}

{% block jshead %}
    {{ parent() }}
    <script type="text/javascript" src="//cdn.sublimevideo.net/js/gut6yssr.js"></script>
{% endblock %}

{% block pageTitle %}{{ episode.episodeTitle ~ ' ' ~ episode.season.season ~ 'X' ~ episode.episode ~ '(' ~ episode.absoluteNumber ~ ')'}}{% endblock %}
{% block breadCrumbs %}
    <li><a href="{{ path('loopanime_shows_homepage') }}">Home</a></li>
    <li><a href="{{ path('loopanime_shows_anime', {idAnime: episode.season.anime.id}) }}">{{ episode.season.anime.title }}</a></li>
    <li class="active">{{ episode.episodeTitle ~ episode.episode}}</li>
{% endblock %}

{% block body %}
<section class="slice bg-white">
    <div class="wp-section work">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 videoplayer video_player_content no-padding">
                    <div class="row">
                        <div class="col-sm-12 pull-right text-right">
                                {% if links is not empty  %}
                                <div class="dropdown pull-right">
                                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="padding:4px">
                                        <i class="fa fa-link"></i> Mirrors
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        {% for key, link in links %}
                                            <li role="presentation"><a role="menuitem" class="mirror_link" tabindex="-1" href="#" data-key="{{ key }}">{% if key == selLink %}<i class="fa fa-check"></i>{% endif %} {{ link.hoster ~ " - " ~ link.fileServer }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <a href="{{ initialLink }}" download="episode.{{ links[selLink].fileType }}" target="_blank" class="btn btn-sm btn-base btn-icon fa-download pull-right">
                                    <span>Download</span>
                                </a>
                                {% endif %}
                                <a href="#" class="btn btn-sm btn-base btn-icon fa-eye pull-right bt-warning mark-as-seen {% if isSeen %}hidden{% endif %}" data-link="{{ selLink }}" data-episode="{{ episode.id }}" data-action="swap" data-target=".mark-as-unseen">
                                    <span>Mark as watched</span>
                                </a>
                                <a href="#" class="btn btn-sm btn-alt btn-icon fa-check pull-right bt-warning mark-as-unseen {% if not isSeen %}hidden{% endif %}" data-link="{{ selLink }}" data-episode="{{ episode.id }}" data-action="swap" data-target=".mark-as-seen">
                                    <span>Watched</span>
                                </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% if initialLink is empty %}
                                <p class="text-center" style="padding-top: 20%">Sorry this episode doesn't have video yet!<br>
                                    <strong>This episode is not yet ready to be displayed!</strong></p>
                            {% elseif isIframe %}
                                <iframe src="{{ initialLink }}" style="border:0px; width: 100%; height: 300px;"></iframe>
                            {% else %}
                                <video id="video1" class="sublime" data-autoresize='fill' height="400" data-uid="" preload="none" poster="{{ episode.poster }}"
                                       data-sharing-image='poster' data-sharing-enable="true" data-sharing-url="{{ app.request.uri }}" data-sharing-title='Loop-Anime.com - Watch & Track anime online' data-sharing-text='I am watching {{ anime.title }} {{ episode.episodeTitle }} on Loop-Anime.com'>
                                    <source src="{{ initialLink }}" type="video/{{ links[selLink].fileType }}">
                                </video>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="clearfix"></div><br/>
                    <div class="row">
                        <div class="col-sm-12">
                            {% include "LoopAnimeCommentsBundle::comments_list.html.twig" with {comments: comments} %}
                        </div>
                    </div>
                </div>
                <!-- Side bar -->
                <div class="col-sm-12 col-md-4">
                    <div class="col-sm-12 text-center">
                        <h4 class="title"><i class="fa fa-desktop fa-2x"></i> Watch Next</h4>
                    </div>
                    <div class="col-sm-12 release-container text-center">
                        <i class="fa fa-spin fa-circle-o-notch"></i> Loading..
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(e) {

        LAEPISODE.init('{{ episode.id }}','{{ anime.id }}','{% if links|length > 0 %}{{ links[selLink].id }}{% endif %}');
        LAEPISODE.releasePlugin.init('.release-container');
        LAEPISODE.releasePlugin.navigateTo('{{ season.id }}');
        sublime.ready(function() {
            LAEPISODE.player.setPlayer(sublime.player('video1'));
        });
    });
</script>
{% endblock %}