{% extends "::base.html.twig" %}

{% block jshead %}
    {{ parent() }}
    <script type="text/javascript" src="/js/sublime/js/gut6yssr.js"></script>
{% endblock %}

{% block body %}
<div class="col-sm-12 content-breadcrumb" style="padding-top: 30px;">
    <div class="col-sm-12 col-md-10">
        <div class="col-sm-12 col-md-8 breadcrumb">
            <ol class="breadcrumb">
                <li  class="primary"><a href="{{ path("loopanime_shows_listAnimes") }}">Series</a></li>
                <li><a href="{{ path("loopanime_shows_anime",{idAnime: anime.id}) }}">{{ anime.title }}</a></li>
                <li>
                    Season: {{ season.season }} Episode: {{ episode.episode }}
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="col-sm-12 no-padding">
    <!-- Main Box -->
    <div class="col-sm-12 col-md-8">
        <div class="col-sm-12 text-center">
            <h3 class="title">{{ episode.episodeTitle }}</h3>
        </div>
        <div class="col-sm-12 videoplayer video_player_content no-padding">
            <div class="col-xs-12 col-md-10 no-padding">
                {% if playlist is empty %}
                    <p class="text-center" style="padding-top: 20%">Sorry this episode doesn't have video yet!<br>
                        <strong>This episode is not yet ready to be displayed!</strong></p>
                {% elseif isIframe %}
                    {% for quality, list in playlist %}
                        {% for link in list %}
                            <iframe src="{{ link }}" style="border:0px; width: 620px; height: 300px;"></iframe>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <video id="video1" class="sublime" width="620" height="300" data-uid="" preload="none" poster="{{ episode.poster }}"
                           data-sharing-image='poster' data-sharing-enable="true" data-sharing-url="{{ app.request.uri }}" data-sharing-title='Loop-Anime.com - Watch & Track anime online' data-sharing-text='I am watching {{ anime.title }} {{ episode.episodeTitle }} on Loop-Anime.com'>
                        {% for quality, list in playlist %}
                            {% for link in list %}
                                <source src="{{ link }}" type="video/{{ links[selLink].fileType }}" {% if quality == "hq" %}data-quality="hd"{% endif %}>
                            {% endfor %}
                        {% endfor %}
                    </video>
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-2 text-center blue no-padding no-margin">
                <div class="col-sm-12">
                    <i class="fa fa-clock-o fa-2x"></i><br/>{{ episode.airDate|date('d-m-Y') }}
                </div>
                <div class="clearfix"></div><br/>
                <div class="col-sm-12 clearfix">
                    <i class="fa fa-comments-o fa-2x"></i><br/>{{ comments|length }}
                </div>
                <div class="clearfix"></div><br/>
                <div class="col-sm-12 clearfix">
                    <button class="btn btn-sm btn-danger mark-as-unseen {% if not isSeen %}hidden{% endif %}" data-link="{{ selLink }}" data-episode="{{ episode.id }}" data-action="swap" data-target=".mark-as-seen">
                        <i class="fa fa-eye-slash fa-2x"></i><br/>
                        Un Watch
                    </button>
                    <button class="btn btn-sm btn-info mark-as-seen {% if isSeen %}hidden{% endif %}" data-link="{{ selLink }}" data-episode="{{ episode.id }}" data-action="swap" data-target=".mark-as-unseen">
                        <i class="fa fa-eye fa-2x"></i><br/>
                        Watched?
                    </button>
                </div>
                <div class="clearfix"></div><br/>
                {% if not isIframe and playlist is not empty %}
                <div class="col-sm-12 clearfix {% if isIframe %}hidden{% endif %}">
                    <a href="{% if playlist is not empty %}{{ playlist['dq'][0] }}{% endif %}" download="episode.{{ links[selLink].fileType }}" target="_blank">
                        <button class="btn btn-sm btn-info">
                            <i class="fa fa-download fa-2x"></i><br/>
                            Download
                        </button>
                    </a>
                </div>
                {% endif %}
                <div class="clearfix"></div><br/>
            </div>
        </div>
        <div class="col-sm-12 share-container">
            Share:&nbsp;
            <i class="fa fa-facebook-square"></i>&nbsp;
            <i class="fa fa-google-plus-square"></i>
            &nbsp;|&nbsp; Mirrors:&nbsp;
            <select name="mirror" id="mirror_combo">
                {% for key, link in links %}
                    <option value="{{ key }}" {% if key == selLink %}selected="selected"{% endif %}>
                        {{ link.hoster ~ " - " ~ link.fileServer }} {% if link.subtitles %}(Subbed: {{ link.subLang }}){% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-12 comments-container">
            <h2 class="blue">{{ comments|length }} Comments</h2>
            {% if(app.user) %}
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <b class="blue">{{ app.user.getUsernameWeb() }}</b>
                    </div>
                    <div class="col-sm-6">
                        {{ "now"|date("Y m d H:i:s") }}
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary col-sm-12 btn-pink btn-sm" id="comment-send-button">Send</button>
                    </div>
                </div>
                <div class="col-sm-12 well">
                    <div class="col-sm-4">
                        <img class="thumbnail" src="{{ app.user.getAvatarWebPath }}" width="80px" height="80px"/>
                    </div>
                    <div class="col-sm-8">
                        <textarea name="comment" class="col-sm-12" style="height: 80px" id="comment_text"></textarea>
                    </div>
                </div>
            {% endif %}
            {% for comment in comments %}
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <b class="blue">{{ comment.user.username }}</b>
                </div>
                <div class="col-sm-6">
                    {{ comment.createTime|date("Y m d H:i:s") }}
                </div>
                <div class="col-sm-2">
                    <i class="fa fa-refresh"></i>
                </div>
            </div>
            <div class="col-sm-12 well">
                <div class="col-sm-4">
                    <img class="thumbnail" src="{{ comment.user.getAvatarWebPath }}" width="80px" height="80px"/>
                </div>
                <div class="col-sm-8">
                    {{ comment.comment }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Side bar -->
    <div class="col-sm-12 col-md-4">
        <div class="col-sm-12 text-center">
            <h4 class="title"><i class="fa fa-desktop fa-2x"></i> Watch Next</h4>
        </div>
        <div class="col-sm-12 release-container text-center">
            <i class="fa fa-spin fa-circle-o-notch"></i> Loading..
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(e) {

        LAEPISODE.init('{{ episode.id }}','{{ anime.id }}','{% if links|length > 0 %}{{ links[selLink].id }}{% endif %}');
        LAEPISODE.releasePlugin.init('.release-container');
        LAEPISODE.releasePlugin.navigateTo('{{ season.id }}');
        sublime.ready(function() {
            LAEPISODE.player.setPlayer(sublime.player('video1'));
        });
    });
</script>
{% endblock %}