{%  extends "::base.html.twig" %}

{% block body %}
    <!-- 1st Content Box -->
    <div class="col-lg-12 pull-left content_box">

        <!-- BreadCrumb -->
        <ol class="breadcrumb">
            <li class="active">Animes</li>
        </ol>
        <!-- End BreadCrumb -->

        <!-- List of categories -->
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li {% if(type == "ordered") %} class="active" {% endif %}><a href="{{ path("loopanime_shows_listAnimes") }}?type=ordered">Ordered A-Z</a></li>
                <li {% if(type == "recents") %} class="active" {% endif %}><a href="{{ path("loopanime_shows_listAnimes") }}?type=recents">Recents</a></li>
                <li {% if(type == "mostrated") %} class="active" {% endif %}><a href="{{ path("loopanime_shows_listAnimes") }}?type=mostrated">Most Rated</a></li>
            </ul>
            <br>
        </div>
        <!-- End of List -->

        <div class="clearfix"></div>

        {% block listBody %}
        {% endblock %}

        <!-- ORDERED SECTION -->

    <div class="col-lg-12 tab_section" id="ordered_section">
        <div class="col-lg-12 no-margin no-padding text-center {% if(type != "ordered") %} hidden {% endif %}">
            <ul class="pagination no-margin no-padding">
                <li><a href="{{ path("loopanime_shows_listAnimes") }}" style="padding: 2px 7px;">#</a></li>
                {% for letter in 'a'..'z' %}
                    <li><a href="{{ path("loopanime_shows_listAnimes") }}?title={{ letter }}" style="padding: 2px 7px;">{{ letter|upper }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-12 well">

            {{ knp_pagination_render(pagination) }}

            <!-- Start a comment -->
            <table class="table">
                <tr>
                    <th>Thumbnail</th>
                    <th>Title</th>
                    <th>First Air Date</th>
                    <th>Status</th>
                    <th>Rating</th>
                </tr>
                {% for anime in pagination %}
                <tr>
                    <td><a class="thumbnail" href="{{ path("loopanime_shows_anime",{"idAnime" : anime.id}) }}"><img src="{{ anime.poster }}" width="100px" height="100px"></a></td>
                    <td><a href="{{ path("loopanime_shows_anime",{"idAnime" : anime.id}) }}">{{ anime.title }}</a></td>
                    <td>{{ anime.startTime }}</td>
                    <td>{{ anime.status }}</td>
                    <td>{{ anime.ratingPercent }}%<br><div class="glyphicon glyphicon-thumbs-up pull-left" style="color:green"></div>{{ anime.ratingUp }}<br><div class="glyphicon glyphicon-thumbs-down pull-left" style="color:red"></div>{{ anime.ratingDown }}</td>
                </tr>
                {% endfor %}
            </table>
            <!-- End of comment  -->

            {{ knp_pagination_render(pagination) }}

        </div>
    </div>
</div>
{% endblock %}
