{%  extends "::base.html.twig" %}

{% block pageTitle %}All Series{% endblock %}
{% block breadCrumbs %}
    <li><a href="{{ path('loopanime_shows_homepage') }}">Home</a></li>
    <li class="active">All Series</li>
{% endblock %}

{% block body %}
<section class="slice bg-white animate-hover-slide">
    <div class="wp-section work">
        <div class="container">
            <div class="row">
                {# List of categories #}
                <div class="col-sm-12">
                    <ul class="nav nav-pills nav-justified">
                        <li {% if(type == "ordered") %} class="active" {% endif %}><a href="{{ path("loopanime_shows_listAnimes") }}?type=ordered">Ordered A-Z</a></li>
                        <li {% if(type == "recents") %} class="active" {% endif %}><a href="{{ path("loopanime_shows_listAnimes") }}?type=recents">Recents</a></li>
                        <li {% if(type == "mostrated") %} class="active" {% endif %}><a href="{{ path("loopanime_shows_listAnimes") }}?type=mostrated">Most Rated</a></li>
                    </ul>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="ordered_section">
                    <div class="col-sm-12 text-center {% if(type != "ordered") %} hidden {% endif %}">
                        <ul class="pagination no-margin no-padding">
                            <li><a href="{{ path("loopanime_shows_listAnimes") }}" class="letter">#</a></li>
                            {% for letter in 'a'..'z' %}
                                <li><a href="{{ path("loopanime_shows_listAnimes") }}?title={{ letter }}" class="letter">{{ letter|upper }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="ulSorList">
                        {% for anime in pagination %}
                            {% include 'LoopAnimeShowsBundle:Animes:anime_block.html.twig' with {anime: anime} %}
                        {% endfor %}
                        <div class="gap"></div>
                    </div>

                    <div class="col-sm-12">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}