{% extends "::base.html.twig" %}

{% block body %}

<!-- BreadCrumb -->
<div class="col-sm-12 content-breadcrumb" style="padding-top: 30px;">
    <div class="col-sm-12 col-md-4">
        <!-- BreadCrumb -->
        <ol class="breadcrumb">
            <li class="primary"><a href="{{ path("loopanime_users_listUsers") }}">Users</a></li>
            <li>List All Users</li>
        </ol>
    </div>
</div>
<!-- End BreadCrumb -->

<div class="clearfix"></div>

<!-- MOST RATED SECTION -->
<div class="col-sm-12">
    <div class="col-sm-12">

        {{ knp_pagination_render(users) }}

        <!-- Start list -->
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Avatar</th>
                <th>Nickname</th>
                <th>Joined Loop</th>
                <th>Following</th>
                <th>Watched</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    <a class="thumbnail" href="{{ path("loopanime_users_user",{idUser: user.id}) }}">
                    <img src="{{ user.avatar }}" width="50px" height="50px">
                    </a>
                </td>
                <td><a href="{{ path("loopanime_users_user",{idUser: user.id}) }}">{{ user.username }}</a></td>
                <td>{{ user.createTime|date("d-m-Y") }}</td>
                {% if user.preferences.publicProfile %}
                    <td>{{ stats[user.id]['tot_fav'] }}</td>
                    <td>{{ stats[user.id]['tot_seen']  }}</td>
                {% else %}
                    <td colspan="2"><span class="label label-primary">User Profile is Private</span></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <!-- End list  -->

        {{ knp_pagination_render(users) }}

    </div>
</div>
<!-- End 1st Content Box -->
{% endblock %}