<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} Loop-Anime - Watch Anime Online! {% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
            'css/bootstrap-glyphicons.css'
            'css/bootstrap-social.css'
            'css/theme.css'
            filter='cssrewrite'
            filter='?cssmin'
            output='css/generated/layout.css'
            %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
            <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
            <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        {% block jshead %}
        {% endblock %}

        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>

        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="description" content="Loop-Anime your portal for animes! Watch every anime here." />
        <meta name="keywords" content="Naruto, Shippuuden, anime, animes, naruto, bleach, dragon ball kai, naruto shippuuden, one piece, fairy tail, inuyasha, episodios, assistir online, completo, fansub, videos do naruto, youtube naruto" />
        <meta name="robots" content="index, follow" />
        <meta name="reply-to" content="admin@loop-anime.com" />
        <meta name="author" content="Josh_Lopes" />
        <meta name="copyright" content="Loop-anime.com" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>
        <header>
            <div class="social-row">
                <div class="container">
                    <div class="col-sm-12">
                        <div class="social-icons pull-right">
                            <a class="fa fa-facebook" target="_blank" href="http://www.facebook.com/loopanime"></a>
                            <a class="fa fa-twitter" target="_blank" href="http://www.twitter.com/loopanime"></a>
                            <a class="fa fa-google-plus" target="_blank" href="http://www.google.com/loopanime"></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <nav class="navbar navbar-default nav-loops" role="navigation">
            <div class="container">
                <div class="visible-md visible-lg col-md-3 col-offset-1">
                    <a href="{{ path("loopanime_shows_homepage") }}"><img src="{{ asset("img/logo.png") }}"/></a>
                </div>
                <div class="col-md-8 col-xs-12">
                    {% block menu %}
                    <ul class="nav navbar-nav navbar-right menu-loops">
                        <li {% if app.request.get('_route') == 'loopanime_shows_myAnimes' %} class="active"{% endif %}>
                            <a href="{{ path("loopanime_shows_myAnimes") }}" class="btn">MY ANIMES</a>
                        </li>
                        <li {% if app.request.get('_route') == 'loopanime_shows_listAnimes' %} class="active"{% endif %}>
                            <a href="{{ path("loopanime_shows_listAnimes") }}" class="btnt">ANIMES</a>
                        </li>
                        <li {% if app.request.get('_route') == 'loopanime_shows_listCategories' %} class="active"{% endif %}>
                            <a href="{{ path("loopanime_shows_listCategories") }}" class="btn">CATEGORIES</a>
                        </li>
                        <li {% if app.request.get('_route') == 'loopanime_users_listUsers' %} class="active"{% endif %}>
                            <a href="{{ path("loopanime_users_listUsers") }}" class="btn">USERS</a>
                        </li>
                        <li>
                            <a href="{{ path("loopanime_usercp") }}" class="btn btn-menu" data-toggle="dropdown">User CP</a>
                        </li>
                    </ul>
                    {% endblock %}
                </div>
            </div>
        </nav>

        <div class="container content">
            {% if announcement is defined %}
                <div class="row col-lg-8 col-offset-2 announcement">
                    <div class="text-center">
                        <h3>{{ announcement.title }}</h3>
                        <p>{{ announcement.announcement }}</p>
                    </div>
                </div>
            {% endif %}
            {% block body %}
            {% endblock %}
            <div class="clearfix"></div><br>
            <hr class="divider container"/>
        </div>
        <div class="clearfix"></div>
        <footer class="footer">
            <!--<div class="footer-box">
                <div class="container">
                    <div class="row col-sm-12">
                        <div class="col-sm-12 col-md-5 col-md-offset-2">
                            <p>Loop-Anime allows you to watch anime online and track your episodes. You can now Sync with your My Anime List Account and Trakt.TV account, please check your account!</p>
                            <br/>
                            <br/>
                            E-mail: <strong>Webmaster@loop-anime.com</strong>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-6">
                                <h4>MENU</h4><br/>
                                <i class="fa fa-angle-right"></i> Home<br/>
                                <i class="fa fa-angle-right"></i> Latest Animes<br/>
                                <i class="fa fa-angle-right"></i> Categories<br/>
                                <i class="fa fa-angle-right"></i> HOME<br/>
                            </div>
                            <div class="col-md-6">
                                <h4>SUPPORT</h4><br/>
                                <i class="fa fa-angle-right"></i> Contact Us<br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="copyright">
                <div class="container">
                    <i>&copy; 2014 Loop-Anime</i>
                </div>
            </div>
        </footer>
        {% javascripts
        'js/*'
        output='js/generated/main.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascript %}
        {% endblock %}
    </body>
</html>