<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} Loop-Anime. Your Portal for Animes! {% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
            'bundles/loopanimegeneral/css/bootstrap.css'
            'bundles/loopanimegeneral/css/bootstrap-glyphicons.css'
            'bundles/loopanimegeneral/css/bootstrap-social.css'
            'bundles/loopanimegeneral/css/theme.css'
            filter='cssrewrite'
            filter='?cssmin'
            output='css/generated/layout.css'
            %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
            <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
        {% block jshead %}
        {% endblock %}

        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="description" content="Loop-Anime your portal for animes! Watch every anime here." />
        <meta name="keywords" content="Naruto, Shippuuden, anime, animes, naruto, bleach, dragon ball kai, naruto shippuuden, one piece, fairy tail, inuyasha, episodios, assistir online, completo, fansub, videos do naruto, youtube naruto" />
        <meta name="robots" content="index, follow" />
        <meta name="reply-to" content="admin@loop-anime.com" />
        <meta name="author" content="Josh_Lopes" />
        <meta name="copyright" content="Loop-anime.com" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>
        <header>
            <div class="social-row">
                <div class="container">
                    <div class="col-1 col-sm-1"></div>
                    <div class="col-10 col-sm-10">
                        <div class="social-icons pull-right">
                            <img src="{{ asset('bundles/loopanimegeneral/img/facebook.png') }}" alt="Facebook">
                            <img src="{{ asset('bundles/loopanimegeneral/img/twitter.png') }}" alt="Twitter">
                            <img src="{{ asset('bundles/loopanimegeneral/img/pinterest.png') }}" alt="Pinterest">
                            <img src="{{ asset('bundles/loopanimegeneral/img/google-plus.png') }}" alt="Google Plus">
                            <img src="{{ asset('bundles/loopanimegeneral/img/tumblr.png') }}" alt="Tumblr">
                            <img src="{{ asset('bundles/loopanimegeneral/img/instagram.png') }}" alt="Instagram">
                            <img src="{{ asset('bundles/loopanimegeneral/img/rss.png') }}" alt="RSS">
                        </div>
                    </div>
                    <div class="col-1 col-sm-1"></div>
                </div>
            </div>
        </header>

        <nav class="navbar navbar-default nav-loops" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav navbar-right menu-loops pull-right">
                    <li {% if app.request.get('_route') == 'loopanime_shows_homepage' %} class="active-item"{% endif %}>
                        <a href="#" class="btn btn-primary btn-menu btn-menu-default">HOME</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-primary btn-menu btn-menu-default">ABOUT</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-primary btn-menu btn-menu-default">TRAILERS</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-primary btn-menu btn-menu-default" data-toggle="dropdown">SERIES</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="btn btn-danger btn-menu">REGISTER</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container content">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="footer">
            <div class="footer-box">

            </div>
            <div class="copyright">
                <div class="container">
                    <p>&copy; 2014 Loop-Anime</p>
                </div>
            </div>
        </footer>

        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
        <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>

        {% javascripts
        'bundles/loopanimegeneral/js/*'
        output='js/generated/main.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascript %}
        {% endblock %}
    </body>
</html>