{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block hwi_oauth_content %}
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="text-center"><img src="{{ asset("img/logo-blue.png") }}" /></div>
        <h1 class="heading text-center"></h1>
        <p class="heading-desc text-center">
            You will need an Invitation Code, ask your friends or visit our <a target="_blank" href="http://www.facebook.com/loop-anime">Facebook Page</a> to learn more about this.
            <br/><br>We are sending invitations weekly - sign up <a target="_self" href="/welcome/">here</a>!
        </p>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-signin">
            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    The follow errors just happened:<br>
                    {{ form_errors(form) }}
                    {% for children in form.children %}
                        {% if not children.vars.valid %}
                            {{ form_errors(children) }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            {{ form_widget(form._token) }}
            <p><b>{{ form_label(form.username) }}</b>
                {{ form_widget(form.username, {'attr': {'class': 'form-control input-small', 'placeholder' : 'Username'}}) }}
            </p>
            <p><b>{{ form_label(form.email) }}</b>
                {{ form_widget(form.email) }}
            </p>
            <p><b>{{ form_label(form.plainPassword.first) }}</b>
                {{ form_widget(form.plainPassword.first) }}
            </p>
            <p><b>{{ form_label(form.plainPassword.second) }}</b>
                {{ form_widget(form.plainPassword.second) }}
            </p>
            <br>
            <button class="btn btn-primary col-sm-6 col-sm-offset-3">Register</button>
            <div class="clearfix"></div>
            <hr/>
            <p>Sign in using your Social Network</p>
            {% for owner in hwi_oauth_resource_owners() %}
                {% if owner == "facebook" %}
                    <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-sm btn-block btn-social btn-facebook">
                        <i class="fa fa-facebook"></i> Sign in with Facebook
                    </a>
                {% elseif owner == "google" %}
                    <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-sm btn-block btn-social btn-google-plus">
                        <i class="fa fa-google"></i> Sign in with Google Plus
                    </a>
                {% endif %}
                <br>
            {% endfor %}
        </form>
        <a href="{{ path("hwi_oauth_connect") }}" class="text-center account-creation pull-left">Have an Account already? Login</a>
        <a href="{{ path('fos_user_resetting_request') }}" class="pull-right help">Forgot your Password? </a>
    </div>
{% endblock %}