{# {episode: episode, markAction: 'hide', markOptions: 'data-target="{{ episode_id }}"', isSeen: false,  #}
{% set episode_id = 'episode_' ~ episode.id ~ '_' ~ random() %}
<div class="mix category_{{ episode.id }} col-lg-3 col-md-3 col-sm-6 mix_all" data-cat="{{ episode.id }}" style="display: inline-block; opacity: 1;" id="{{ episode_id }}">
    <div class="wp-block inverse">
        <div class="figure">
            <img alt="{{ episode.episodeTitle }}" class="lazy img-responsive" data-src="{{ episode.poster|imagine_filter('latestAnimeThumb') }}">
            <span class="wp-block-date-over alpha"><strong>{{ episode.airDate|date('Y-m-d') }}</strong></span>
            <div class="figcaption bg-base"></div>
            <div class="figcaption-btn">
                <a href="{{ path("loopanime_shows_episode",{episode: episode.id}) }}" class="btn btn-xs btn-b-white theater"><i class="fa fa-search"></i> View</a>
                <a href="#" class="btn btn-xs btn-b-white mark-as-seen {% if isSeen is defined and isSeen %}hidden{% endif %}"
                   data-action="{% if markAction is defined %}{{ markAction }}{% else %}hide{% endif %}"
                   {% if markOptions is defined %}{{ markOptions }}{% else %}data-target="#{{ episode_id }}{% endif %}" data-episode="{{ episode.id }}">
                    <i class="fa fa-eye"></i> Mark Watched
                </a>
                <a href="#" class="btn btn-xs btn-b-white mark-as-unseen {% if isSeen is not defined or not isSeen %}hidden{% endif %}"
                   data-action="{% if unSeenMarkAction is defined %}{{ unSeenMarkAction }}{% else %}hide{% endif %}"
                   {% if unSeenMarkOptions is defined %}{{ unSeenMarkOptions }}{% else %}data-target="{{ episode_id }}{% endif %}"  data-episode="{{ episode.id }}">
                    <i class="fa fa-check"></i> Watched
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9">
                <h4 class="small">{{ episode.season.anime.title[:10] }} {{ episode.season.season ~ 'X' ~ episode.episode }}</h4>
                <small>{{- episode.episodeTitle[:15] -}}{% if episode.episodeTitle|length > 15 %}...{% endif %}</small>
            </div>
        </div>
    </div>
</div>