{% extends "::base.html.twig" %}

{% block body %}

<div class="col-sm-12 col-md-6 col-md-offset-3">

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="col-sm-12"><h2>Your Profile & Settings</h2></div>

    <div class="col-sm-12"><h3>Your Public Profile</h3></div>

    <div class="col-sm-12">Tell others about yourself and connect your social Networks</div>

	<!-- Change Account Information -->
	<div class="col-lg-12" style="padding-top: 40px;">
        <form action="{{ path('loopanime_usercp') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" id="change_account_info" enctype="multipart/form-data">

            <div class="clearfix"></div>

            <div class="form-group">
                <label class="col-md-3 text-right">Profile Picture:</label>
                <div class="col-md-9">
                    <div class="col-md-3" style="height: 50px">
                        <img src="{{ app.user.getAvatarWebPath }}" />
                    </div>
                    <div class="col-md-3" style="height: 50px">
                        {{ form_widget(form.avatarFile) }}
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
                <label class="col-lg-4 text-right"></label>
                <div class="col-md-9">
                    {{ form_widget(form.avatarFile) }}
                </div>
            </div>

            <div class="form-group">
				<label class="col-md-3 text-right">{{ form_label(form.username) }}</label>
				<div class="col-md-9">
                    {{ form_widget(form.username) }}
				</div>
			</div>

			<div class="clearfix"></div>

            <div class="form-group">
				<label class="col-md-3 text-right">{{ form_label(form.birthdate) }}</label>
				<div class="col-md-9">
                    {{ form_widget(form.birthdate) }}
				</div>
			</div>

			<div class="clearfix"></div>

            <div class="form-group">
                <label class="col-md-3 text-right">{{ form_label(form.email) }}</label>
                <div class="col-md-9">
                    {{ form_widget(form.email) }}
                </div>
            </div>

            <div class="clearfix"></div>

			<div class="form-group">
				<label class="col-md-3 text-right">{{ form_label(form.newsletter) }}</label>
				<div class="col-md-9">
                    {{ form_widget(form.newsletter) }}
                    <small>*Includes news and other important announcements</small>
				</div>
			</div>

            <div class="clearfix"></div>

            <div class="form-group">
                <label class="col-md-3 text-right">{{ form_label(form.country) }}</label>
                <div class="col-md-9">
                    {{ form_widget(form.country) }}
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
                <label class="col-md-3 text-right">{{ form_label(form.lang) }}</label>
                <div class="col-md-9">
                    {{ form_widget(form.lang) }}
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
                <label class="col-md-3 text-right">Password:</label>
                <div class="col-md-9">
                    <a href="{{ path("fos_user_change_password") }}" style="text-decoration: underline">Change Password</a>
                </div>
            </div>

            <div class="clearfix"></div>

			<div class="col-lg-10 col-offset-1 text-right">
                {{ form_widget(form.buttonSubmit) }}
			</div>
		</form>
	</div>
	<!-- End Change Account Form -->

</div>
{% endblock %}