{%  extends "::base.html.twig" %}

{% block pageTitle %}Categories{% endblock %}
{% block breadCrumbs %}
    <li><a href="{{ path('loopanime_shows_homepage') }}">Home</a></li>
    <li class="active"><a href="#">All Categories</a></li>
{% endblock %}

{% block body %}
<section class="slice bg-white animate-hover-slide">
    <div class="wp-section work popular-animes">
        <div class="container">
            <div class="row">
                <div id="ulSorList">
                    {% for category in categories %}
                        <div class="mix category_{{ category.genre }} col-lg-3 col-md-3 col-sm-6 mix_all" data-cat="{{ category.genre }}" style="display: inline-block; opacity: 1;">
                            <div class="wp-block inverse">
                                <div class="figure">
                                    <img alt="{{ category.genre }}" class="lazy img-responsive" data-src="{{ category.poster|imagine_filter('featuredAnime') }}">
                                    <div class="figcaption bg-base"></div>
                                    <div class="figcaption-btn">
                                        <a href="{{ path("loopanime_shows_category",{category: category.genre})}}" class="btn btn-lg btn-b-white theater"><i class="fa fa-search"></i> View</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h2>Category: {{ category.genre }}</h2>
                                        <small>{{ category.numAnimes }} Animes</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="gap"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
