{%  extends "::base.html.twig" %}

{% block pageTitle %}Search{% endblock %}
{% block breadCrumbs %}
    <li><a href="{{ path('loopanime_shows_homepage') }}">Home</a></li>
    <li class="active">Search</li>
{% endblock %}

{% block body %}
<section class="slice bg-white animate-hover-slide">
    <div class="wp-section work">
        <div class="container">
            <div class="row">
                <div id="ulSorList">
                    {% for anime in animes %}
                    <div class="mix category_{{ anime.id }} col-lg-3 col-md-3 col-sm-6 mix_all" data-cat="{{ anime.id }}" style="display: inline-block; opacity: 1;">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="{{ anime.title }}" class="lazy img-responsive" src="{{ anime.poster|imagine_filter('animeListPoster') }}">
                                <div class="figcaption bg-base"></div>
                                <div class="figcaption-btn">
                                    <a href="{{ path("loopanime_shows_anime",{"idAnime" : anime.id}) }}" class="btn btn-lg btn-b-white theater"><i class="fa fa-search"></i> View</a>
                                    <a href="#" class="btn btn-lg btn-b-white"><i class="fa fa-plus-circle"></i> Fav.</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>{{ anime.title }}</h2>
                                    <small>{{- anime.genres ? anime.genres[:22] : "n/a" -}}{% if anime.genres|length > 22 %}...{% endif %}</small>
                                </div>
                                <div class="col-xs-3">
                                    {% if anime.id in userFavorites %}
                                        <div class="like-button" >
                                            <span class="button trigger-favorites" data-anime="{{ anime.id }}">
                                                <i class="fa fa-heart"></i>
                                            </span>
                                            <span class="count"><small>144</small></span>
                                        </div>
                                    {% else %}
                                        <div class="like-button" >
                                            <span class="button trigger-favorites" data-anime="{{ anime.id }}">
                                                <i class="fa fa-heart-o"></i>
                                            </span>
                                            <span class="count"><small>123</small></span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="gap"></div>
                    <div class="col-sm-12">
                        {{ knp_pagination_render(animes) }}
                    </div>
                </div>

                <div id="ulSorList">
                    {% for episode in episodes %}
                        <div class="mix category_1 col-lg-3 col-md-3 col-sm-6 mix_all" data-cat="1" style="display: inline-block; opacity: 1;">
                            <div class="wp-block inverse">
                                <div class="figure">
                                    <a href="{{ path("loopanime_shows_episode",{"episode" : episode.id}) }}">
                                        <img alt="{{ episode.episodeTitle }}" class="lazy img-responsive" src="{{ episode.poster|imagine_filter('searchEpisodesThumb') }}" width=210 height="180" style="min-height: 180px" >
                                    </a>
                                    <div class="figcaption bg-base"></div>
                                    <div class="figcaption-btn">
                                        <a href="{{ path("loopanime_shows_episode",{"episode" : episode.id}) }}" class="btn btn-lg btn-b-white theater"><i class="fa fa-search"></i> View</a>
                                        <a href="#" class="btn btn-lg btn-b-white"><i class="fa fa-eye"></i> Watch</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <h2>{{- episode.episodeTitle[:18] -}}{% if episode.episodeTitle|length > 18 %}...{% endif %}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="gap"></div>
                    <div class="col-sm-12">
                        {{ knp_pagination_render(episodes, null, ['page2']) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
    <script type="javascript">
        $(function() {
            $("img.lazy").lazyload({
                effect : "fadeIn"
            });
        });
    </script>
{% endblock %}