{%  extends "::base.html.twig" %}

{% block body %}
    {% spaceless %}

        {# Featured Animes #}
        <div class="row col-sm-12 text-center">
            <h3 class="title"><i class="fa fa-star"></i><span> Featured Series</span></h3>
        </div>

        <div class="clearfix"></div>

        <div class="row featured_container">
            {% for anime in featuredAnimes %}
                <div class="col-xs-12 col-sm-4 col-md-3 featured {% if loop.index % 4 == 0 %}hidden-sm{% endif %}">
                    <div class="title col-sm-12">
                        <b>Featured: </b>
                        <span>{{ anime.title }}</span>
                        <!--<span class="pull-right">
                            <i class="fa fa-heart"></i>
                            <i class="fa fa-comment-o"></i>
                        </span>-->
                    </div>
                    <div class="poster col-sm-12 clearfix">
                        <a href="{{ path("loopanime_shows_anime",{idAnime: anime.id}) }}">
                            <img class="lazy col-sm-12" data-original="{{ anime.poster | imagine_filter('featuredAnime') }}" />
                        </a>
                    </div>
                    <br/>
                    <div class="col-sm-12 clearfix">
                        {% if favorites[anime.id] %}
                            <button class="btn btn-primary btn-pink col-sm-12 trigger-favorites" data-anime="{{ anime.id }}"><i class="fa fa-star"></i> Remove from Favorites</button>
                        {% else %}
                            <button class="btn btn-primary btn-blue col-sm-12 trigger-favorites" data-anime="{{ anime.id }}"><i class="fa fa-star-o"></i> Add to Favorites</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="clearfix"></div>

        <div class="row">
            {# Latest Anime #}
            <div class="col-sm-12 col-md-8">
                <hr class="divider"/>
                <h3 class="title text-center"><i class="fa fa-play-circle"></i><span> Latest Episodes</span></h3>
                <div class="col-sm-12 animes-container">
                    <div class="row">
                        {% for episode in recentEpisodes %}
                            <div class="col-sm-12 col-md-4 episode">
                                <div class="col-xs-12 col-sm-6 episode-info">
                                    <a href="{{ path("loopanime_shows_episode",{episode: episode.id}) }}" class="white">
                                        <h4 style="font-size: 1em">{{ episode.episodeTitle[:20] }}</h4>
                                    </a>
                                    <br />
                                    <span>{{- episode.airDate|date("F jD") -}}</span>
                                    <br />
                                    {% for i in 1..5 %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div>
                                <div class="col-xs-12 col-sm-6 episode-poster">
                                    <a href="{{ path("loopanime_shows_episode",{episode: episode.id}) }}">
                                        <img class="lazy col-xs-12" data-original="{% if(episode.poster is not empty) %}{{ episode.poster | imagine_filter('latestAnimeThumb') }}{% else %}{{ episode.season.anime.poster | imagine_filter('latestAnimeThumb') }}{% endif %}" width="120" height="125">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {# Latest Anime #}
            <div class="col-sm-12 col-md-4">
                <hr class="divider"/>
                <h3 class="title text-center"><i class="fa fa-calendar"></i><span> Release Schedule</span></h3>
                <div class="col-sm-12 release-container text-center">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                    <span> Loading..</span>
                </div>
            </div>
        </div>

    {% endspaceless %}
{% endblock %}

{% block javascript %}
    {% spaceless %}
    <script type="text/javascript">
        $(document).ready(function(e) {
            LACORE.init();
            var releasePanel = LACORE.releasePanel('div.release-container', '{{ path('loopanime_shows_releaseDate') }}', 'rd');
            releasePanel.navigateTo('{{ "now"|date('d-m-Y') }}');
        });
    </script>
    {% endspaceless %}
{% endblock %}