{%  extends "::base.html.twig" %}

{% block body %}

    <img src="{{ '/img/avatar/bart-simpson-avatar.gif' | imagine_filter('big') }}" />
    <img src="{{ '/img/avatar/bart-simpson-avatar.gif' | imagine_filter('original') }}" />
    <img src="{{ '/img/avatar/bart-simpson-avatar.gif' | imagine_filter('landscape') }}" />
    <!-- Featured Animes -->
    <!-- Featured Animes -->
    <div class="row col-sm-12 text-center">
        <h3 class="title"><i class="fa fa-star"></i> Featured Anime</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row featured_container">
        {% for anime in featuredAnimes %}
            <div class="col-sm-12 col-md-4 featured">
                <div class="title col-12">
                    <b>Featured: </b> {{ anime.title }}
                    <span class="pull-right">
                <i class="fa fa-heart"></i>
                <i class="fa fa-comment-o"></i>
            </span>
                </div>
                <div class="poster col-12">
                    <a href="{{ path("loopanime_shows_anime",{idAnime: anime.id}) }}"><img src="{{ anime.poster }}" style="padding:0px;display: block;margin:auto;" class="col-sm-12"></a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="clearfix"></div><br/>

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <hr class="divider"/>
            <h3 class="title text-center"><i class="fa fa-play-circle"></i> LATEST ANIME</h3>
            <div class="col-sm-12 animes-container">
                <div class="row">
                    {% for episode in recentEpisodes %}
                    <div class="col-sm-12 col-md-4 episode">
                        <div class="col-sm-6 episode-info">
                            <a href="{{ path("loopanime_shows_episode",{idEpisode: episode.id}) }}" class="white"><h4 style="font-size: 1em">{{ episode.episodeTitle }}</h4></a><br/>
                            {{ episode.airDate|date("F jD") }}<br>
                            {% for i in 1..5 %}
                                <i class="fa fa-star"></i>
                            {% endfor %}
                        </div>
                        <div class="col-sm-6 episode-poster">
                            <a href="{{ path("loopanime_shows_episode",{idEpisode: episode.id}) }}">
                                <img src="{{ episode.poster }}" width="120" height="125">
                            </a>
                        </div>
                    </div>
                    {% if loop.index % 3 == 0 %}
                    <div class="clearfix"></div>
                </div><br/><div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <hr class="divider"/>
            <h3 class="title text-center"><i class="fa fa-calendar"></i> RELEASE SCHEDULE</h3>
            <div class="col-sm-12 release-container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;23.APRIL 2014&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div><br/>
                {% for episode in recentEpisodes %}
                    <div class="row episode-info">
                        <div class="col-sm-12">
                            <i class="fa fa-clock-o"></i> {{ episode.episodeTitle }} : <i>Episode {{ episode.absoluteNumber }}</i>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(e) {

            // Caption Block
            $('.caption-block').hide();

            // Caption Titles and rates
            $(document).on('mouseenter','.caption-this', function (e) {
                // Hides all captions
                $('.caption-block').hide();

                var caption_block = $(this).find('.caption-block');
                caption_block.show();
                caption_block.width($(this).find('img').width());
                caption_block.position({of: $(this).find('img'), my: "left bottom", at: "left bottom" });
                caption_block.hide();
                caption_block.fadeIn(200);
            });

            $(document).on('mouseleave','.caption-this',function(e) {
                $(this).find('.caption-block').hide();
            });

            $(document).on('click', 'ul.pagination li a',function(e) {
                e.preventDefault();

                var elem = $(this).parentsUntil(".video_gallery_container"); // Go up up to the top of the videoGallery
                $(elem).html("<div class='row loader_div'></div>");

                $.ajax({
                    url: $(this).attr('href'),
                    type: "GET"
                }).done(function(data) {
                    $(elem).html(data);
                });
            });

            // Link the caption to the video link, forwarding after click
            $(document).on('click','.caption-block',function(e) {
                window.location = $(this).prev("a").attr("href");
            });

            $('.video_gallery-ajax').click( function(e) {

                $(this).parent().parent().find("li.active").removeClass("active");
                $(this).parent().addClass("active");

                e.preventDefault();

                var elem_load = $(this).parent().parent().attr('associated_video_gallery');

                $('#'+elem_load).html("<div class='row loader_div'></div>");
                $.ajax({
                    url: $(this).attr('href'),
                    type: "GET"
                }).done(function(data) {
                    $('#'+elem_load).html(data);
                });
            });

            $('li.active a').trigger('click');
        });
    </script>
{% endblock %}