<div class="row">
    <div class="col-sm-12 text-center">
        <i class="fa fa-angle-left cursor-pointer js-nav-control" data-rd="{{ prevDate|date("d-m-Y") }}"></i>&nbsp;&nbsp;&nbsp;{{ currDate|date("d.M Y") }}&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right cursor-pointer js-nav-control" data-rd="{{ nextDate|date("d-m-Y") }}"></i>
    </div>
</div><br/>
{% for episode in episodes %}
    <div class="row episode-info">
        <div class="col-sm-12 text-left">
            <a href="{{ path('loopanime_shows_episode',{episode: episode[0].id}) }}">
                {% if episode[0].hasLinks %}
                    <i class="fa fa-play-circle-o"></i>
                {% else %}
                    <i class="fa fa-clock-o"></i>
                {% endif %}
                    {{ episode.title }} : <i>Episode {{ episode[0].season.season }}X{{ episode[0].episode }}</i>
            </a>
        </div>
    </div>
{% endfor %}